main {
  min-height: 80vh;
}

h3 {
  padding: 1rem 0;
}

h1 {
  font-size: 1.4rem;
  padding: 1rem 0;
}

h2 {
  font-size: 1.2rem;
  padding: 0.5rem 0;
}

.rating span {
  margin: 0.1rem;
}

.form-control {
  padding: 0.3rem;
}

/* Carousel */
.carousel-item-next,
.carousel-item-prev,
.carousel-item.active {
  display: flex;
  justify-content: center;
  align-items: center;
}

.carousel-caption {
  position: absolute;
  top: 0;
}

.carousel-caption h2 {
  color: #fff;
}

.carousel img {
  height: 320px;
  padding: 40px;
  margin: 40px;
  border-radius: 22.5%;
}

.carousel a {
  margin: 0 auto;
}

.page-link {
  margin: 0.085rem;
}

@media only screen and (max-width: 1000px) {
  .carousel img {
    height: 250px;
    padding: 40px;
    margin: 40px;
    border-radius: 22.5%;
  }
}
